################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LAB6-7_Raul_Pele/v16/.suo
